extends layout

block content
  h1= title
  p Sensor data:
  ul
    each sensorModule in sensorModules
      li Sensor module #{sensorModule.peripheral.id}:#{sensorModule.peripheral.advertisement.localName}
        ul
          li Temperature: #{sensorModule.temperature} degrees C
          li Humidity: #{sensorModule.humidity} %


